doctype html
html
  head
    title Student Database
    link(rel="stylesheet", href="/assets/style.css")
  body
    nav.nav_bar
      ul
        a(href="student_database"): li Home
        a(href="add_student.html"): li Add
        a(href="search_student.html"): li Search
        a(href="display.html"): li Display
        a(href="remove_student.html"): li Remove
        a(href="update_student.html"): li Update
    h1 STUDENT DATABASE
    h3.sub-heading SEARCH FOR A STUDENT DETAILS

    div.present-details
      div.result-removal
        p#success #{name} DETAILS FOUND
      p Name: #{name}
      p Register Number: #{reg_no}
      p Branch: #{branch}
      p Contact Number: #{contact_no}