doctype html
html
  head
    title Student Database
    link(rel="stylesheet", href="/assets/style.css")
  body
    nav.nav_bar
      ul
        a(href="student_database"): li Home
        a(href="add_student.html"): li Add
        a(href="search_student.html"): li Search
        a(href="display.html"): li Display
        a(href="remove_student.html"): li Remove
        a(href="update_student.html"): li Update
    h1 STUDENT DATABASE
    h3.sub-heading UPDATE A STUDENT DETAILS

    div.present-details
      h3 #{data.name} DETAILS FOUND
      p Name: #{data.name}
      p Register Number: #{data.reg_no}
      p Branch: #{data.branch}
      p Contact Number: #{data.contact_no}

    div.field-for-adding
      h3 Enter the new details:</br>(Enter old details if no change is needed)
      form(action="/update_next" method="post")
        label Name:   
        input(type="text" name="name" placeholder="Name..")
        <br/><br/>
        label Register Number: 
        input(type="text" name="reg_no" placeholder="Register Number..")
        <br/><br/>
        label Branch:   
        input(type="text" name="branch" placeholder="Branch..")
        <br/><br/>
        label Contact Number:   
        input(type="text" name="contact_no" placeholder="Contact number..")
        <br/><br/>
        button(type="submit" name="button") Update